* {
    font-family: "Rimouski", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.app-title {
    text-align: center;
    font-size: 1.5em;
    color: #34495E;
    margin-bottom: 20px;
}

.notification {
    background-color: #f8d7da;
    display: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.notification p {
    color: #721c24;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.weather-container {
    text-align: center;
}

.search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #34495E;
    border-radius: 5px;
    font-size: 1em;
    color: #34495E;
}

.search-btn {
    padding: 10px 20px;
    background-color: #34495E;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.weather-icon img {
    max-width: 100px;
    margin-bottom: 20px;
}

.temperature-value p {
    margin: 0;
    font-size: 4em;
    color: #34495E;
    cursor: pointer;
}

.temperature-value span {
    font-size: 0.5em;
}

.temperature-description p,
.location p,
.weather-details p {
    margin: 5px 0;
    color: #34495E;
    font-size: 1.2em;
}

.weather-details p {
    font-size: 1em;
}
